@font-face {
	font-family: "ionicons";
	src:url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1");
	src:url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"),
	url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"),
	url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"),
	url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");
	font-weight: normal;
	font-style: normal;
}

@ionicon-var-navicon-round: "\f20d";
@ionicon-var-close: "\f12a";
@ionicon-var-chevron-right: "\f125";
@ionicon-var-chevron-left: "\f124";
@ionicon-var-chevron-down: "\f123";