.menu-mixin(@menu-breakpoint){
	.nav-container {
	.menu-link {
		font-size: 0;
		@media(@menu-breakpoint) {
			display: none;
		}
		&:before {
			font-family: "ionicons";
			content: @ionicon-var-navicon-round;
			display: inline-block;
			.font-size(36);
		}
	}

	nav {
		position: fixed;
		top: 0;
		right: -@menu-width;
		width: @menu-width;
		height: 100%;
		z-index: 9999;
		.transform(translateX(0));
		.transition(transform 0.5s ease);
		.clearfix();
		&.active {
			.transform(translateX(-@menu-width));
			.transition(transform 0.5s ease);
		}
		@media (@menu-breakpoint) {
			position: relative;
			top: auto;
			left: auto;
			right: auto;
			width: 100%;
			z-index: 1;
			&.active {
				.transform(translateX(0));
			}
		}
		h3 {
			position: relative;
			padding: 0 20px;
			margin: 0;
			.font-size(24);
			.line-height(50);
			.close {
				position: absolute;
				right: 20px;
				.transition(all 0.5s ease);
				&:hover {
					.transition(all 0.5s ease);
				}
				.line-height(50);
			}
			@media (@menu-breakpoint) {
				display: none;
			}
		}
		.close {
			font-family: "ionicons";
			font-size: 0;
			&:before {
				content: @ionicon-var-close;
				display: inline-block;
				.font-size(28);
			}
			@media (@menu-breakpoint) {
				display: none;
			}
		}
		ul {
			position: relative;
			list-style: none;
			margin: 0;
			padding: 0;
			@media (@menu-breakpoint) {
				float: right;
				.clearfix();
			}
			li {
				a {
					display: block;
					width: 100%;
					padding: 0 20px;
					height: 50px;
					.font-size(18);
					.line-height(50);
					.transition(all 0.5s ease);
					&:hover, &:focus {
						text-decoration: none;
						.transition(all 0.5s ease);
					}
				}
				@media (@menu-breakpoint) {
					position: relative;
					display: inline-block;
					width: auto;
					height: 70px;
					padding: 10px 0;
					vertical-align: middle;
				}
				ul {
					position: fixed;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					display: block;
					visibility: visible;
					z-index: 1;
					.transform(translateX(0));
					.transition(all 0.5s ease);
					&.is-hidden {
						visibility: hidden;
						.transform(translateX(100%));
						.opacity(0);
						.transition(all 0.5s ease);
					}
					@media (@menu-breakpoint) {
						position: absolute;
						top: 100%;
						left: 0;
						width: @menu-width;
						height: auto;
						z-index: auto;
						.clearfix();
						.transform(translateY(0));
						&.is-hidden {
							.transform(translateX(-20%) translateY(0));
							.transitions(~"transform 0.5s ease, opacity 0.3s ease 0.5");
						}
					}
					li {
						@media (@menu-breakpoint) {
							width: @menu-width;
							height: auto;
							padding: 0;
						}
					}
				}
				&:last-child {
					ul {
						@media (@menu-breakpoint) {
							left: auto;
							right: 0;
						}
					}
					&.has-children {
						&.has-children {
							a {
								border-bottom: none;
							}
						}
					}
				}
				&.has-children {
					position: relative;
					> a {
						&:after {
							position: absolute;
							right: 20px;
							top: 50%;
							content: @ionicon-var-chevron-right;
							display: inline-block;
							font-family: "ionicons";
							font-weight: normal;
							.font-size(16);
							.transform(translateY(-50%));
							@media (@menu-breakpoint) {
								display: none;
							}
						}
					}
				}
				&.go-back {
					position: relative;
					font-size: 0;
					&:before {
						position: absolute;
						left: 15px;
						top: 50%;
						content: @ionicon-var-chevron-left;
						display: inline-block;
						font-family: "ionicons";
						font-weight: normal;
						.font-size(16);
						.transform(translateY(-50%));
					}
					a {
						padding-left: 35px;
						.font-size(16);
					}
					@media (@menu-breakpoint) {
						display: none;
					}
				}
				&.see-all {
					a {
						.transition(all 0.5s ease);
						&:hover {
							.transition(all 0.5s ease);
						}
					}
					@media (@menu-breakpoint) {
						display: none;
					}
				}
			}
		}
	}

	.touch {
		header {
			nav {
				ul {
					li {
						a {
							@media (@menu-breakpoint) {
								.font-size(16);
							}
						}
					}
					.has-children {
						> a {
							padding-right: 30px;
							&:after {
								right: 10px;
								content: @ionicon-var-chevron-right;
								.font-size(13);
								@media (@menu-breakpoint) {
									display: inline-block;
									content: @ionicon-var-chevron-down;
								}
							}
						}
					}
					.see-all {
						display: block;
						a {
							color: @neutral-1;
							background-color: @neutral-9;
							&:hover {
								color: @neutral-1;
								background-color: @neutral-9;
							}
							@media (@menu-breakpoint) {
								color: @neutral-9;
								background-color: @neutral-1;
								&:hover {
									color: @neutral-9;
									background-color: @neutral-1;
								}
							}
						}
					}
				}
			}
		}
	}
}
}