.nav-container {
	.menu-link {
		color: @neutral-1;
	}

	nav {
		background: @neutral-5;
		color: @neutral-1;

		@media (@menu-breakpoint) {
			background: @neutral-7;
		}

		h3 {
			color: @neutral-9;
			border-bottom: 1px solid lighten(@neutral-5, 10%);
			.close {
				color: @neutral-9;
			}
		}

		ul {
			background-color: @neutral-5;
			@media (@menu-breakpoint) {
				background-color: @neutral-7;
			}
			li {
				a {
					color: @neutral-1;
					border-bottom: 1px solid lighten(@neutral-5, 10%);
					&:hover, &:focus {
						color: @neutral-1;
						background-color: @neutral-9;
					}
					@media (@menu-breakpoint) {
						border: none;
						&:hover, &:focus {
							color: @neutral-9;
							background-color: transparent;
						}
					}
				}
				ul {
					background: @neutral-9;
					li {
						a {
							@media (@menu-breakpoint) {
								color: @neutral-1;
								&:hover {
									background-color: @neutral-9;
									color: @neutral-1;
								}
							}
						}
					}
				}
				&.see-all {
					a {
						color: @neutral-1;
						background-color: @neutral-9;
						&:hover {
							color: @neutral-1;
							background-color: @neutral-9;
						}
						@media (@menu-breakpoint) {
							background-color: transparent;
						}
					}
				}
			}
		}
	}

	.touch {
		nav {
			ul {
				.see-all {
					a {
						color: @neutral-1;
						background-color: @neutral-9;
						&:hover {
							color: @neutral-1;
							background-color: @neutral-9;
						}
						@media (@menu-breakpoint) {
							color: @neutral-9;
							background-color: @neutral-1;
							&:hover {
								color: @neutral-9;
								background-color: @neutral-1;
							}
						}
					}
				}
			}
		}
	}
}
